defmodule AdventOfCode.Y<%= year %>.Day<%= String.pad_leading(day, 2, "0") %> do
  @moduledoc """
  <%= title %>
  Problem Link: https://adventofcode.com/<%= year %>/day/<%= day %>
  """
  use AdventOfCode.Helpers.InputReader, year: <%= year %>, day: <%= day %>

  def run_1, do: {:not_implemented, 1}
  def run_2, do: {:not_implemented, 2}

  def parse(data) do
    data
    |> String.split("\n", trim: true)
  end

  # --- <Solution Functions> ---
  # --- </Solution Functions> ---
end
