defmodule AdventOfCode.Y<%= year %>.Day<%= day %>Test do
  @moduledoc false
  use ExUnit.Case
  @moduletag :y<%= year %><%= day %>

  alias AdventOfCode.Y<%= year |> String.split_at(2) |> elem(1) %>.Day<%= day %>, as: Solution

  test "Year <%= year %>, Day <%= day %>, Part 1" do
    assert Solution.run_1() == nil
  end

  test "Year <%= year %>, Day <%= day %>, Part 2" do
    assert Solution.run_2() == nil
  end
end
