defmodule AdventOfCode.Y<%= year %>.Day<%= day %>Test do
  @moduledoc false
  use ExUnit.Case

  alias AdventOfCode.Y<%= year %>.Day<%= day %>, as: Solution

  test "Year <%= year %>, Day <%= day %>, Part 1" do
    assert Solution.run_1() == nil
  end

  test "Year <%= year %>, Day <%= day %>, Part 2" do
    assert Solution.run_2() == nil
  end
end
